USE [DemoConvencionesDB]
GO
/****** Object:  Table [dbo].[entradas]    Script Date: 11/02/2022 09:57:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nArticulo] [int] NOT NULL,
	[tipo] [varchar](30) NOT NULL,
	[convencion] [varchar](50) NOT NULL,
	[archivo] [varchar](100) NOT NULL,
	[thumbnail] [varchar](100) NOT NULL,
	[cita] [varchar](3000) NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[subtitulo] [varchar](1000) NOT NULL,
	[subsubtitulo] [varchar](500) NOT NULL,
	[texto] [varchar](7000) NOT NULL,
	[organismos] [varchar](500) NOT NULL,
	[tipoDisposicion] [varchar](500) NOT NULL,
	[etiquetas] [varchar](1000) NOT NULL,
	[temas] [varchar](1000) NOT NULL,
	[url] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etiquetas]    Script Date: 11/02/2022 09:57:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etiquetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[etiqueta] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuentes]    Script Date: 11/02/2022 09:57:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuentes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fuente] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titulos]    Script Date: 11/02/2022 09:57:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[entradas] ON 

SET IDENTITY_INSERT [dbo].[entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[etiquetas] ON 

INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (1266, N'ObligacionesEstatales')
INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (1267, N'Trata')
INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (1268, N'MedidasEspeciales')
GO
SET IDENTITY_INSERT [dbo].[etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[fuentes] ON 

INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (1002, N'cdh')
INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (1003, N'observaciones')
INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (1004, N'Comité de los Derechos del Niño')
SET IDENTITY_INSERT [dbo].[fuentes] OFF
GO
SET IDENTITY_INSERT [dbo].[titulos] ON 

INSERT [dbo].[titulos] ([id], [titulo]) VALUES (1, N'La obligación de tomar medidas para eliminar la discriminación de la mujer en la vida política y pública y garantizarle sus derechos políticos')
INSERT [dbo].[titulos] ([id], [titulo]) VALUES (2, N'Principio de igualdad y no discriminación')
INSERT [dbo].[titulos] ([id], [titulo]) VALUES (3, N'La violencia como una forma de discriminación')
SET IDENTITY_INSERT [dbo].[titulos] OFF
GO
